@model BE.Example.Models.LiteralTranslation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LiteralTranslation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language.LanguageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Literal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Literal.LiteralId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueZero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueZero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueOne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueMany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueMany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InReview)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LiteralTranslationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
